html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	padding-top: 25px;
}

#map { 
	height: 100%; 
}
.container {
        height: 100%;
        position: relative;
}
      
.top-panel {
        background: #222;
        height: 50px;
        text-align: left;
        width: 100%;
        color: yellow;
}
.project-title{
	left: 45px;
	line-height: 40px;
	position: absolute;
	padding:5px 15px 0px 15px;
	font-size:1.4em;
	font-weight:bold;
}
.poi-box{
    padding: 5px 5px 5px 5px;
    border: aqua;
    border-color: gray;
    background-color: cadetblue;
    margin: 5px;
    min-width: 300px;
}

.left-panel {
		margin: 0;
        background: #fff;                
   		min-width: 340px;
   		padding: 1px;
 }

.hamburger{
	background:none;
	position:absolute;
	top:0;
	line-height:35px;
	padding:5px 15px 0px 15px;
	color:#ef0f;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}

.hamburger:hover {
    color: #5ea4cf; //lightsaber green
}


.results {
	margin: 0;
	padding: 0;
}

.place {
    margin: 5px;
    padding: 10px;
    list-style: none;
    background-color: #0888;
    cursor:pointer;
}

.place:hover{
	background-color: #91bc05;
}


	